/* Image_gold 1 */

.buyer{
    .image-container{
position: absolute;
width: 2736px;
height: 3264px;
left: 354px;
top: 405px;

background: "./../assets/Image_gold.png";
    }
/* Rectangle 3 */


position: absolute;
width: 1930px;
height: 3248px;
left: 3090px;
top: 405px;

background: #2F2E2E;
}